*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    transition: 0.5s;
}

body{
    background-color: #000;
}

:root{
    --breath: 100px
}

h1{
    font-size: 16px;
}

h2{
    font-size: 12px;
}

h3{
    font-size: 12px;
}

/* ------------------------------------------------- */

.nav-bar{
    position: fixed;
    padding-left: var(--breath);
    padding-right: var(--breath);
    padding-top: 0px;
    width: 100%;
    height: 60px;
    z-index: 10;

    background-color: #000;
    filter: drop-shadow(10px 10px 10px rgba(255, 255, 255, 0.3))
}

.nav-bar img{
    float: left;
    height: 100%;
    padding: 15px 0;
    cursor: pointer;
}

.nav-bar ul{
    float: right;
    height: 100%;
}

.nav-bar li{
    float: left;
    padding: 0 20px;
    height: 100%;

    text-align: center;
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 60px;
}

.nav-bar li:hover{
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

/* ------------------------------------------------- */

.home-page{
    padding-top: 60px;
}

.home-page .video-container video{
    width: 100vw;
    position: absolute;
    /* top: 10px; */
    z-index: -1;
}

.home-page .video-container{
    overflow: hidden;
}

.home-page .logo-container{
    --fixed : 33vw;
    width: calc(var(--fixed));
    height: calc(var(--fixed));
    background-color: #fff;
    border-radius: 50%;

    overflow: hidden;
    margin: calc(100vw / 16)  auto;
}

.home-page img{
    width: 100%;
    margin-top: 25px;
}

/* ------------------------------------------------- */

.portfolio{
    background-color: #fff;
    width: 100vw;
    overflow: hidden;

    position: relative;
}

.portfolio img{
    width: 20vw;
}

.works{
    padding: var(--breath);
    column-gap: calc(var(--breath) / 2);
    
    width: 100%;
    vertical-align: top;
    display: inline-flex;
    overflow-x: scroll;
}

.list-item{
    text-align: left;
    line-height: 1.6;
    padding: 50px;
    border-radius: 40px;

    scroll-snap-align: start;

    box-shadow: 0px 0px 20px rgb(0 0 0 / 15%);
    transition: all.3s cubic-bezier(0,0,.5,1);
}

.list-item:hover{
    scale: 1.05;
}

.portfolio li img{
    padding-bottom: 15px;
}

.portfolio h1{
    padding-bottom: 10px;
}

.portfolio h3{
    color: #808080;
    font-weight: 300;
    font-style: italic;
}

.portfolio h2{
 
}

/* ------------------------------------------------- */

.service{
    background-color: #000;
    color: #fff;
    position: relative;
    overflow: hidden;
    padding: 50px 0 50px var(--breath);

    position: relative;
}

.service ul{
    padding-bottom: 50px;
}

.service li{
    float: left;
    font-size: 16px;
    padding: 0 30px 0 0;
}

.service li:hover{
    scale: 1.1;
    cursor: pointer;
}

.service .description{
    text-align: justify;
    display: block;

    font-size: 16px;
    width: 50%;
}

.service .illust{
    /* background-image: url("img/z6-front-xl.png"); */
    width: 40vw;
    position: absolute;
    right: -50px;
    bottom:-50px;
}

/* ------------------------------------------------- */

.member{
    background-color: #fff;
    padding: 50px var(--breath);

    position: relative;
}

.name-card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

.name-card{
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 8%);
}

.member img{
    width: 150px;
    border-radius: 50%;
}

.name-card-txt{
    text-align: center;
    line-height: 1.6;
    padding-top: 20px;
}

.about p{
    font-size: 16px;
    padding-top: 40px;
    text-align: justify;
}

/* ------------------------------------------------- */

.footer{
    width: 100vw;
}

.footer .chiobu{
    display: block;
    width: 10vw;
    margin: 0 auto;
    padding-top: 10px;
}

.footer .social-media-link{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 30vw;
    padding-bottom: 10px;

}

.footer .social-media-link img{
    width: 25px;
    color: #fff;
}

.footer span{
    margin: 0  auto;
    display: block;
    background-color: #fff;
    height: 1px;
    width: 50vw
}

.footer p{
    text-align: center;
    padding: 10px;
    font-size: 8px;
    color: #fff;
}
